* {
  outline: none;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  border: 0 !important;
  outline: 0;
  opacity: 0.8;
  transition: initial;
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
  background-image: url("./images/search.svg") !important;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 12px center;
  text-indent: 32px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #989aad !important;
  background-image: url("./images/search.svg") !important;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 12px center;
  text-indent: 32px;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #1a237e;
  color: #989aad;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/bg_dots.png") left top repeat, url("./images/bg_fill.png") center center no-repeat;
  background-size: initial, cover;
}
a,
a:visited {
  color: #989aad;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
  background-color: rgba(23, 2, 53, 0.8);
  color: #989aad;
  left: 0;
  top: 0;
  background-image: url("./images/loading.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
}
.artistCard,
.eventCard {
  display: inline-block;
  font-size: 14px !important;
  vertical-align: top;
  height: calc(100% - 164px);
  padding: 30px;
}
.artistCard {
  width: 50%;
  background-color: rgb(16, 1, 38);
  border-top-left-radius: 5px;
  position: relative;
}
.artistCard::after {
  position: absolute;
  content: "";
  right: -30px;
  top: 63px;
  z-index: 1;
  width: 30px;
  height: 81px;
  background-image: url("./images/right_desk.png");
}
.artistCard img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  min-height: 248px;
}
.artistCard ul li strong {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin: 7.5px 0 0 0;
  color: #e7e6e9;
}
.artistCard ul li span {
  font-family: "Lato", sans-serif;
  display: inline-block;
  color: #989aad;
  font-size: 12px;
  margin: 0 0 7.5px 0;
}
.artistCard ul li a {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0 0 7.5px 0;
  text-decoration: none;
  color: #989aad;
  background-image: url("./images/logo-facebook.svg") !important;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 24px;
}
.artistCard ul li a:hover {
  text-decoration: underline;
}
.eventCard {
  width: 50%;
  background-color: rgba(40, 26, 60, 0.8);
  border-top-right-radius: 5px;
}
.eventCard strong {
  color: #e7e6e9;
  font-size: 18px;
  display: inline-block;
}
.eventCard span,
.eventCard time {
  color: #cfccd4;
  font-size: 12px;
  display: inline-block;
}
.eventCard a,
.eventCard a:visited {
  color: #9f99a8;
}
.eventCard a:hover {
  color: #fea716;
  text-decoration: none;
}
.searchBar {
  width: 100%;
  padding: 20px 0;
}
input[type="search"] {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid transparent;
  background-color: rgba(16, 1, 38, 0.8);
  margin-right: 5px;
  width: calc(70% - 5px);
  color: #989aad !important;
  background-image: url("./images/search.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 12px center;
  text-indent: 36px;
}
input[type="search"]:focus {
  border: 1px solid #fea716;
}
input[type="search"]::placeholder {
  color: #989aad !important;
}
button {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
  border: 0;
  background-color: #fea716;
  color: #100126;
  width: 30%;
  cursor: pointer;
  font-weight: 700;
  font-family: "Raleway" sans-serif;
  text-transform: uppercase;
}

.searchResults {
  width: 100%;
  height: 100%;
}
.showEventCount {
  width: calc(100% - 48px);
  padding: 0 0 20px 0;
  text-align: right;
  color: #e7e6e9;
  min-height: 49px;
  display: inline-block;
  font-size: 18px;
}
.showEventCount strong {
  padding-left: 36px;
  background-image: url("./images/microphone-4.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: normal;
}
.home {
  color: #e7e6e9;
  font-family: "Lato";
  padding: 20vh 0 5vh 0;
}
.home strong {
  display: inline-block;
  margin: 15px 0;
}
h1 {
  color: #fff;
  font-family: "Raleway";
  font-size: 48px;
  text-transform: uppercase;
}
.popularSearches {
  margin: 0 0 15px 0;
  color: #e7e6e9;
}
.popularSearches li {
  display: inline-block;
  width: 20%;
  font-size: 13px;
}
.back {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(16, 1, 38, 0.8);
  margin-top: -10px;
  background-image: url("./images/arrow-left.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.error {
  background-color: rgba(16, 1, 38, 0.95);
  background-image: url("./images/cloud-disable.svg");
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: center 25vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  left: 0;
  top: 0;
  text-align: center;
}
.error p {
  width: 25%;
  margin: 45vh auto;
}
.error button {
  box-shadow: 1px 1px 10px #06000f;
}
#root > div,
#root {
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    overflow: initial;
    background-attachment: fixed;
  }
  #root {
    height: 100%;
    padding: 15px;
  }
  .artistCard,
  .eventCard {
    width: 100%;
    height: auto;
    overflow-y: initial;
  }
  .searchBar input[type="search"] {
    width: calc(65% - 5px);
  }
  .searchBar button {
    width: 35%;
  }
  .home {
    padding-top: 10vh;
  }
  .home h1 {
    font-size: 36px;
    width: 60%;
  }
  .popularSearches li {
    width: 50%;
    display: none;
  }
  .popularSearches li:nth-child(-n + 6) {
    display: inline-block;
  }
  .artistCard img {
    min-height: 321px;
  }
  .artistCard::after {
    right: auto;
    top: auto;
    left: 0;
    width: 100%;
    bottom: -80px;
    background-image: url("./images/bottom_mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .eventCard li {
    padding: 20px 0;
  }
  .error p {
    width: 50%;
    margin: 50vh auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow: initial;
  }
  .artistCard {
    width: 30%;
  }
  .eventCard {
    width: 70%;
  }
  .eventCard li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 20px;
    min-height: 125px;
  }
  #root {
    width: 80%;
    margin: 0 auto;
  }
  .artistCard img {
    min-height: initial;
  }
  .error p {
    width: 50%;
    margin: 50vh auto;
  }
}
@media screen and (min-width: 1025px) {
  #root {
    max-width: 1025px;
    margin: 0 auto;
  }
  .artistCard {
    width: 30%;
  }
  .eventCard {
    width: 70%;
  }
  .eventCard li {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 0 20px;
    min-height: 125px;
  }
}
